## 아이유팬이 좋아할 만한 다른 아티스트 찾기

### 데이터 탐색하기와 전처리

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# artist_MBID 항목은 우리 관심사가 아니기에 사용하는 컬럼만 남기고 제거한다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
# 첫번째 유저가 듣는 노래 확인해보기
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

#### 데이터 탐색

추천 모델을 만들기 전 데이터의 기본정보를 확인해본다.
- 유저 수, 아티스트 수, 인기 많은 아티스트
- 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
- 유저 play 횟수 중앙값에 대한 통계

※ `pandas.DataFrame.nunique()`는 특정 컬럼에 포함된 유니크한 데이터 개수를 알아보는데 유용하다.

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

#### 모델 검증을 위한 사용자 초기 정보 세팅

In [10]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가'되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

#### 모델에 활용하기 위한 전처리

다루는 데이터에 user와 artist 각각에 번호를 붙이는데 이를 `indexing`이라고 한다.

추천시스템, 자연어 처리 등에서 indexing 작업을 해준다. 

※ `pandas.DataFrame.uninque()`는 특정 컬럼에 포함된 유니크한 데이터만 모아준다. indexing 작업에 용이하다.

In [11]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

### 사용자의 명시적/암묵적 평가

우리 데이터가 좋아요나 별점처럼 선호도를 명시적으로 나타낼 수 있으면 좋겠지만 우리가 가지고 있는 데이터는 사용자가 아티스트의 곡을 몇 번 플레이했나 하는 암묵적인 피드백이다. 하지만 이 암묵적 피드백도 사용자의 아이템에 대한 평가를 알 수 있는 수단이 될 수 있다.

`암묵적 피드백 데이터셋의 특징`
- 부정적인 피드백이 없다.(No Negative Feedback)
- 애초에 잡음이 많다.(Inherently Noisy)
- 수치는 신뢰도를 의미한다.(The numerical value of implicit feedback indicates confidence)
- Implicit-feedback Recommender System의 평가는 적절한 방법을 고민해봐야 한다.(Evaluation of implicit-feedback recommender requires appropriate measures)

In [14]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

암묵적 데이터의 해석을 위해 규칙을 적용한다.
1. 한번이라도 들었으면 선호한다고 판단한다.
2. 많이 재생한 아티스트에 대해 가중치를 더 주어서 더 확실히 좋아한다고 판단한다.

###  Matrix Factorization(MF, 행렬분해)
`MF 모델`은 2006년 Netflix에서 백만 달러의 상금을 걸고 개최한 자사 추천 시스템의 성능을 10% 이상 향상시키는 챌린지를 계기로 알려지게 되었다. 

(m,n) 사이즈의 행렬 R을 (m,k) 사이즈의 행렬 P와 (k,n) 사이즈의 행렬 Q로 분해한다면 R이란 그저 P와 Q의 행렬곱으로 표현 가능할 수 있다는 간단한 아이디어이다. k는 대체로 m이나 n보다 훨씬 작기 때문에 계산량의 장점도 있다.

`MK 모델`은 성능이 준수하고 Scalability가 좋아서 많이 사용되는 모델이다.

모델의 목표는 모든 유저와 아이템에 대해 k-dimension의 벡터를 잘 만드는 것이다. 그 기준은 `유저 i의 벡터와 아이템 j의 벡터를 내적했을 때 유저 i가 아이템 j에 대해 평가한 수치와 비슷한지이다.`

### CSR(Compressed Sparse Row) Matrix

`CSR Matrix`는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보만으로 구성하여 `메모리 사용량을 최소화`하면서도 Sparse한 matrix와 `동일한 행렬을 표현`할 수 있도록 하는 데이터 구조이다.

`CSR Matrix`는 data, indices, indptr 로 `행렬을 압축하여 표현`한다.
- `data`는 0이 아닌 원소를 차례로 기입한 값이다. <br/> EX) data = [1, 2, 3, 4, 5, 6]
- `indices`는 data의 각 요소가 어느 열(column)에 있는지를 표현한 index이다. <br/> EX) indices = [0, 4, 1, 3, 0, 3]
- `indptr`은 각 행(row)에서 0이 아닌 첫번째 원소가 data 리스트에서 몇번째에 해당하는지와 마지막에 data 벡터의 길이를 추가한 값이다. <br/> EX) indptr = [0, 2, 4, 4, 6]

In [15]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

### MF 모델 학습하기

- implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지이다.
- 이 패키지에 구현된 `als 모델`을 사용한다.
- `Matrix Factorization`에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않는다.
- 그래서 한쪽을 고정시키고 다른쪽을 학습하는 방식을 번갈아 수행하는 `AlternatingLeastSquares` 방식이 효과적이다.

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares 클래스의 __init__ 파라미터를 살펴보자.

1. `factors` : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
2. `regularization` : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
3. `use_gpu` : GPU를 사용할 것인지
4. `iterations` : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지

1과 4를 늘릴수록 학습데이터를 잘 학습하게 되지만 과적합이 일어날 수도 있다.

In [17]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [18]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [19]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

#### 모델 학습 후 2가지 사항을 살펴본다

1. Zimin 벡터와 black eyed peas 벡터를 어떻가 만들고 있나

2. 두 벡터를 곱하면 어떤 값이 나오나

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [21]:
zimin_vector

array([ 0.0652732 , -0.14840825,  1.2937027 ,  0.20888257, -0.06720933,
        0.62358415, -1.4270544 , -0.02236982,  0.24764311,  0.91389465,
       -0.6134847 ,  0.854392  ,  0.3714083 , -0.99952316, -0.47754276,
       -0.13891704, -0.2915892 ,  0.52757645,  0.592094  , -0.16204703,
        0.0578333 , -0.5563331 , -0.5111954 , -0.55873793, -1.0732532 ,
       -0.46039778,  0.21797968, -0.20242414,  0.16612321,  0.51311266,
       -0.5699929 , -0.50722235,  0.28411776,  0.29207695, -0.80271524,
        0.90698135,  1.5532751 , -0.71642214,  0.743529  ,  0.38345215,
        0.6654275 ,  1.4238459 , -0.7832949 , -1.0146374 , -0.05165754,
        0.39177576,  1.1179099 , -0.21054123,  0.04049214,  0.28519955,
        0.41080552,  0.30197257,  0.4731008 , -0.0689585 , -0.17103478,
        1.0769268 ,  0.42737502, -0.09278327, -1.7009424 ,  0.26259428,
       -0.78721845,  0.25894508, -1.0327797 ,  0.5205041 ,  0.51314235,
        0.7557616 ,  0.8081736 , -0.06769162, -0.58278894,  0.19548972,
       -0.60502577, -0.85908794,  0.26817253,  1.0261832 , -0.5244725 ,
       -0.00208805, -0.54456973,  0.03951934,  0.73172027, -0.04390229,
        0.858184  , -0.1612236 , -0.12788782, -1.1735493 ,  0.7539254 ,
       -1.0058906 , -0.5574704 ,  0.19184834, -0.12432005,  0.5350996 ,
        1.4259864 , -0.81404686, -0.36586052,  1.0378239 ,  0.26008224,
       -0.6533353 , -0.36581102, -0.7131645 ,  0.9391476 , -0.14674167],
      dtype=float32)

In [22]:
black_eyed_peas_vector

array([-0.00238982,  0.01141947,  0.018598  ,  0.01311756,  0.00432776,
        0.01056159, -0.00293343,  0.01156713,  0.01942847,  0.01601752,
        0.01445493,  0.02497144,  0.00801286, -0.01032475, -0.0019456 ,
        0.00532866,  0.00820863,  0.01784466,  0.01533982, -0.00291309,
        0.00016533,  0.00296429, -0.01059731,  0.0017287 , -0.02039544,
       -0.00405554,  0.00666155,  0.01548088,  0.02087335,  0.00782407,
        0.00080652,  0.00542494,  0.01150765,  0.00896487,  0.00204506,
        0.01977095,  0.02248438, -0.0007861 , -0.00110943,  0.01129285,
        0.00099553,  0.01440721,  0.00511228,  0.0053535 , -0.00329371,
        0.00663778,  0.01800306,  0.00900878,  0.01774246,  0.00171303,
        0.01660731,  0.00239141,  0.01057352,  0.00294865, -0.0078507 ,
       -0.00450479,  0.00569725,  0.0149286 , -0.00726726,  0.01578276,
       -0.00939883,  0.01655582, -0.01002174,  0.01186552,  0.02235427,
        0.0368134 ,  0.00745037, -0.00580283, -0.01850753,  0.00755949,
       -0.00809767, -0.00350685,  0.01384148,  0.01873673,  0.01381151,
        0.01035867,  0.00088881,  0.00345466,  0.01693702, -0.00267708,
        0.01431173, -0.00247312,  0.00653604,  0.01489516,  0.01327399,
       -0.00650166, -0.00232049,  0.00612753,  0.01437547,  0.01969262,
        0.02449065, -0.01254954, -0.01892267,  0.03288178,  0.00881063,
       -0.00987258,  0.00527947, -0.00905279,  0.01648499,  0.00897535],
      dtype=float32)

In [23]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.50549835

In [24]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.29446208

### 비슷한 아티스트 찾기 + 유저에게 추천하기

#### 비슷한 아티스트 찾기

`AlternatingLeastSquares` 클래스에 구현되어 있는 `similar_items` 메서드를 통하여 비슷한 아티스트르 찾는다.

In [25]:
# `coldplay`로 찾아보기
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0),
 (277, 0.98693305),
 (5, 0.98169774),
 (28, 0.98096853),
 (217, 0.9751072),
 (247, 0.9686637),
 (418, 0.9640787),
 (490, 0.9634021),
 (473, 0.96230924),
 (910, 0.9547779),
 (1018, 0.9510112),
 (268, 0.9448837),
 (782, 0.94429535),
 (55, 0.93650335),
 (776, 0.9364783)]

In [26]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'red hot chili peppers',
 'the killers',
 'radiohead',
 'the beatles',
 'u2',
 'oasis',
 'placebo',
 'nirvana',
 'the smashing pumpkins',
 'pink floyd',
 'the white stripes',
 'arctic monkeys',
 'the cure']

In [27]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [28]:
get_similar_artist('2pac')

['2pac',
 'the game',
 'notorious b.i.g.',
 '50 cent',
 'nas',
 'jay-z',
 'snoop dogg',
 'dr. dre',
 'ludacris',
 'bone thugs-n-harmony']

In [29]:
get_similar_artist('lady gaga')

['lady gaga',
 'katy perry',
 'britney spears',
 'rihanna',
 'the pussycat dolls',
 'beyoncé',
 'christina aguilera',
 'justin timberlake',
 'leona lewis',
 'pink']

#### 유저에게 아티스트 추천하기

`AlternatingLeastSquares` 클래스에 구현되어 있는 `recommend` 메서드를 통하여 제가 좋아할 만한 아티스트를 추천받는다. 

`filter_already_liked_items` 는 유저가 이미 평가한 아이템은 제외하는 `Argument`이다.

In [30]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.44180652),
 (369, 0.43091297),
 (550, 0.41840366),
 (382, 0.40067157),
 (2249, 0.40058637),
 (724, 0.39784756),
 (627, 0.3892795),
 (354, 0.3890839),
 (274, 0.38901836),
 (621, 0.38500035),
 (1800, 0.3835637),
 (35, 0.38098824),
 (355, 0.3805509),
 (564, 0.37765008),
 (5555, 0.3761875),
 (391, 0.3729301),
 (24, 0.36862725),
 (901, 0.36561668),
 (409, 0.35160136),
 (618, 0.3515399)]

In [31]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'mika',
 'katy perry',
 'lily allen',
 'maroon 5',
 'nelly furtado',
 'michael jackson',
 'alicia keys',
 'lady gaga',
 'john mayer',
 'madonna',
 'kanye west',
 'timbaland',
 'christina aguilera',
 'jack johnson',
 'pink',
 'amy winehouse',
 'the pussycat dolls']


`AlternatingLeastSquares` 클래스에 구현된 `explain` 메서드를 사용하면 제가 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있다.

In [32]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [33]:
# 추천한 콘텐츠 점수에 기여한 다른 콘텐츠와 기여도를 반환.

[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.22037989135371494),
 ('black eyed peas', 0.13626838751841974),
 ('jason mraz', 0.04701787085713524),
 ('coldplay', 0.040686065536912376),
 ('maroon5', -0.00027489156404232016)]

## 프로젝트 - Movielens 영화 추천 실습

#### 1. 데이터 준비와 전처리

In [34]:
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [35]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [36]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [37]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [38]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy